* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header {
  background-color:#cdc5c058;
  padding-top: 43px;
  background-image: url(images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.logo h2 {
  font-size: 45px;
}
.color-orange {
  color: #f774177a;
  font-weight: 900px;
}
nav {
  width: 47%;
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
nav .menu {
  display: flex;
  list-style-type: none;
  gap: 51px;
  text-align: center;
  align-items: center;
}
nav .menu a {
  text-decoration: none;
  color: #474747f9;
  font-size: 20px;
}
.btn {
  background-color: #fd6f0ae0;
  border: none;
  border-radius: 5px;
  padding: 18px 35px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
#banner {
  margin: 154px 40px 7px 209px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#banner .content-text h2 {
  margin-bottom: 5px;
  font-size: 45px;
  font-weight: 600;
  color: #474747;
}
#banner .content-text h1 {
  font-size: 70px;
  margin-bottom: 20px;
  color: #181818;
  font-weight: bold;
}
#banner .content-text p {
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
  line-height: 30px;
}
.content-image img {
  max-width: 585px;
  vertical-align: middle;
}
#about {
  padding-top: 130px;
}
#about .about-container {
  border-radius: 20px;
  max-width: 1140px;
  width: 1100px;
  margin: 0px auto;
  text-align: center;
  background-color: #cdc5c058;
  padding: 131px 156px;
}

.section-heading {
  max-width: 820px;
  text-align:center;
  margin: 0 auto;
}
#about .section-heading h2 {
  font-size: 35px;
  margin-bottom: 30px;
}
#about .section-heading p {
  font-size: 19px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}
#about .about-container .section-details {
  display: flex;
  justify-content: space-between;
}
#about .about-container .section-details div {
  font-size: 20px;
  color: #474747;
}
#about .about-container .section-details div h3 {
  font-size: 18px;
}
#skill{
  padding-top: 130px;
}
 #skill .skill-container{
  width: 47%;
  max-width: 1140px;
  margin: 0 auto;
}
#skill .skill-container h2{
  padding-bottom: 30px;
  font-size: 35px;
  font-weight: bold;
}
#skill .skill-container p{
  font-size: 20px;
  color: #757575;
}
 #skill .skill-container .skill-box{
  display: flex;
  gap: 24px;
 }
 .skill-box .skill-card{
  padding:30px;
  box-shadow: 0px 6px 50px 0px #00000029;
  max-width: 267px;
  margin-top: 50px;
 

 }
 .skill-card img {
  max-width: 44px;
  margin-bottom: 30px;
 
 }
 .skill-card h3{
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
 }
 .skill-card p{
    font-size: 16px;
   line-height: 28px;
   color: #757575;
 }