* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header {
  background-color: #eae1db;
  padding-top: 43px;
  background-image: url(images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.logo h2 {
  font-size: 45px;
}
.color-orange {
  color: #f77417;
  font-weight: 900px;
}
nav {
  width: 47%;
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
nav .menu {
  display: flex;
  list-style-type: none;
  gap: 51px;
  text-align: center;
  align-items: center;
}
nav .menu a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}
.btn {
  background-color: #fd6e0a;
  border: none;
  border-radius: 5px;
  padding: 18px 35px;
  color: white;
  cursor: pointer;
}
#banner {
  margin: 154px 40px 7px 209px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#banner .content-text h2 {
  margin-bottom: 5px;
  font-size: 45px;
  font-weight: 600;
  color: #474747;
}
#banner .content-text h1 {
  font-size: 70px;
  margin-bottom: 20px;
  color: #181818;
  font-weight: bold;
}
#banner .content-text p {
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
  line-height: 30px;
}
.content-image img {
  max-width: 585px;
  vertical-align: middle;
}
#about {
  padding-top: 130px;
}
#about .about-container {
  border-radius: 20px;
  max-width: 1140px;
  width: 1100px;
  margin: 0px auto;
  text-align: center;
  background-color: #cdc5c0;
  padding: 131px 156px;
}

#about .section-heading {
  max-width: 820px;
  text-align: center;
}
#about .section-heading h2 {
  font-size: 35px;
  margin-bottom: 30px;
}
#about .section-heading p {
  font-size: 19px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}
#about .about-container .section-details {
  display: flex;
  justify-content: space-between;
}
#about .about-container .section-details div {
  font-size: 20px;
  color: #474747;
}
#about .about-container .section-details div h3 {
  font-size: 18px;
}
